 body{
  margin: 0;
  padding: 0;
  background: gray;
}




.slideshow > .slider {
  width: 800px;
  height: 400px;
  background: url(bannerimgs/beast1.png);
  margin: 100px auto;
  animation: slide 20s infinite;

}
@keyframes slide{
  0%{
    background: url(bannerimgs/beast5.png);
  }
  25%{
    background: url(bannerimgs/beast4.png);
  }
  50%{
    background: url(bannerimgs/beast3.png);
  }
  75%{
    background: url(bannerimgs/beast2.png);
  }
  100%{
    background: url(bannerimgs/beast1.png);
  }
}

h2{
  position: relative;
  font-size: 6em;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect:below 1px linear-gradient(transparent,#0008);
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}