body{
    background: url(https://img.freepik.com/free-photo/flat-lay-top-view-office-table-desk-workspace-background_1150-6826.jpg?t=st=1709143662~exp=1709147262~hmac=7c87c812cd32c812eda758055ec706c1f04bc0a92117405c2896b1ea85c99a17&w=740);
    background-repeat: no-repeat;
    background-size: cover;
}